@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body 
 {background-color: rgb(22, 155, 102);
    color: rgb(63, 45, 7);
    font: normal 17px 'Roboto', sans-serif;}

    a {
      color: rgb(20, 11, 75);  
      text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

 a:active {
   color: rgb(216, 130, 19);  
 }


    
.avatar 
 {width: 300px; 
    border-radius:  38px;
    box-shadow:20px 20px 44px rgba(0,0,0,025) ;}

    .info {
      display: flex;
      margin-bottom: 30px;
    }

    @media (max-width: 700px) {
      .info {
        text-align: center;
        display: block;
      }

    }

    .info-text {
      margin-left: 20px;
    }

    .info-text {
      margin-bottom: 10px;
    }

.info p 
 { color: rgb(219, 206, 14);
  margin: 0;
 font-style: italic;
 font-weight: bold;
 text-decoration: underline;
 letter-spacing: 2px;
 word-spacing: 6px;}

.container 
 {
  max-width: 750px;
  margin: auto;
  padding-top: 20px;
}

/*.sosial  
  {
  background: rgb(183, 157, 209);
  padding: 15px 40px;

  border: 5px solid red;
  border-style: dotted ;
  
  margin: 5px;
  }*/

.card {
    padding:15px 20px ;
    background: rgb(15, 141, 63);
    margin-bottom: 20px;
    border-radius: 20px;
}

.bg-yellow {
  background: #f1e8b8;
}

.bg-green {
  background: #cffad2;
}

.bg-red {
  background: #fcc9c9;
}

.card h2 {
  margin-bottom: 15px;
}


.list {
  padding: 0 20px;
}

.list li {
  color: #a70505;
  margin-bottom: 15px;
}

.table {
  width: 100%;
}

.table {
  padding-bottom: 10px;
}

.table td:nth-child(2) ,
.table td:nth-child(3) {
color: rgb(8, 59, 59); 
}

/*.table tr:nth-child(even) {
  background: rgb(248, 180, 180);
} */

.link-list {
  list-style: square;
  padding: auto;
}

.link-list li {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 4px solid rgb(218, 6, 6);
}

.contact h2 {
text-align: center;
}

.form-group label {
display: block;
font-size: 25px;
color: #0643bd;
}

.form-group input ,
.form-group textarea
{
width: 100%;
box-sizing: border-box;
border: none;
background: transparent
border-bottom: 4px solid #ccc;
color: black;
padding: 15px 0 10px;
outline: none;
font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row >.form-group{
  width: 50%;
  margin-right: 20px;
}

.btn {
  background: rgb(4, 36, 221);
  padding: 15px 20px;
  color: rgb(255, 255, 255);
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
 opacity: 0.7;
}

/* .position {
  position: relative;
border: 4px solid black;
margin-top: 40px;
padding: 20px;
height: 300px;
}

.box {
  position: fixed;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
} */

